body {
  max-width: 50%;
  border: black 1px solid;
  padding: 20px 20px;
  margin: 30px auto;
}

.containerToday {
  margin: 20px 50px 0 50px;
}

.moonImage {
  color: darkblue;
  font-size: 90px;
}

.temperature {
  font-size: 18px;
  list-style-type: none;
  padding: 0;
}

.location {
  font-size: 14px;
  border-left: 1px solid black;
  list-style-type: none;
}

.containerDaily {
  padding: 20px 10px;
  margin: 30px 10px 0 10px;
}
.card {
  text-align: center;
  padding: 10px 0 0 0;
}

.card .sunIcon {
  font-size: 30px;
  color: yellow;
}

.searchBar {
  padding: 20px 10px 0 10px;
  text-align: center;
}

button {
  margin: 10px 0;
}
